h1 {
    font-family: "Montserrat", sans-serif;
}

h1.title {
    font-weight: bold;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
}

code {
    font-family: "Source Code Pro", monospace;
}

li {
    font-family: "Montserrat", sans-serif;
}

li.tocify-item::before {
    content: "> ";
}

.tocify-header {
    text-indent: 0pt;
}
